h4.c-title{
	color: #5486a3;
}

h3.reviews-title{
	float: left;
}

.write-review{
	float: right;
	margin-top: 20px;
}

.heavy{
	font-weight: bold;
}


.listing{
	height: 159px;
}

.listing-criteria-block-top{
	height: 65px;
}

.listing-criteria-block-bottom{
	height: 92px;
}

.utility-box{
	padding: 15px 0;
	border: 1px solid #e0d5c8;
	background-color: #f8f7f1;
}

.utility-box-ad{
	margin-top: 5px;
	/*border: 1px solid #e0d5c8;*/
	/*background-color: #f8f7f1;*/
}

.utility-box-pagination{
	padding: 15px 0;
	/*border: 1px solid #e0d5c8;*/
	background-color: #fff;
}

.clearing{
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	clear: both;
}

h4.green{
	color: #9ba639;
}

.featured-separator{
	text-align: right;
	margin-top: 5px;
	color:#ccc;
	font-size: 10px;
}

.stars-rating{

}

.stars-inner{
	background: transparent url(http://cdn1.homeadvisor.com/images/consumer/theme/icons/stars_small.png) repeat-x 0 0;
	height: 13px;
	width: 80px;
	background-position: 0 -13px;
}

.stars-profile-review{
	float: left;
	line-height: 1.15em;
	margin-top: 3px;
}

.input-text{

	font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}

.t-stars-rating{
	color: #F7901E;
	font-size: 14px;
	line-height: 1.15em;
	margin-left: 5px;
}

.t-text-pipe{
	color: #ccc;
}

.verified-reviews{
	margin-top: 5px;
}

.ads{
	float: right;
	padding-top: 34px;
}

/*RateContractor page*/

.container-review-form{
	width: 750px;
	margin: auto;
}

.t-border{
	border: 1px solid #e0d5c8;
}

.t-underline{
	border-bottom: 1px solid #e0d5c8;
}

.t-header-big{
	font-size: 18px;
	color: #5c5954;
	font-weight: bold;
	margin: 0;
}

.t-header-box{
	padding: 10px;
	background-color: rgb(231, 229, 218);
}

.l-utility-box-padding{
	padding: 15px;
}

.review-form .form-row{
	margin: 20px 0px 20px 20px;
}

.review-form .form-row .form-questions{
	display: inline-block;
	width: 29%;
	vertical-align: top;
}

#relationship1, #relationship2, #relationship3, #relationship4, #recommend1, #recommend2, #rateit-reset-2{
	margin: 5px;
}

#rateit-range-2{
	margin-top: 5px;
}

.btn-review{
	margin-left: 15px;
}




































